/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lobster&family=Open+Sans&family=Poppins:wght@500&display=swap');


/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF;
    font-family: 'Poppins', sans-serif;
    
}
main{
    padding: 85px 120px;  
}
/* header styles start  */
header{
    padding: 85px 120px; 
}
.navigation{
    color: #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-heading{
   font-size: 24px;
   font-weight: 700;
}
.navigation ul{
    list-style: none;
    display: flex;
    gap: 34px;
    align-items: center;
}
.navigation ul li{
    font-size: 16px;
    font-weight: 600;
}
.heroarea{
    margin-top: 80px;
    display: flex;
}
.banner-desc{
    color: #3a3a3a;
}
.banner-heading{
    font-size: 52px;
    font-weight: 700;
    
}
.banner-desc p{
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0;
}
.heroarea .image{
    width: 475px;
    height: 475px;
    background-image: url('images/Circle design.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.heroarea .btn{
    width: 160px;
    padding: 10px 15px;
    border: none;
    border-radius: 41px;
    background-color: #e02c6d;
    color: #FFF;
}

/* sponsor logos styles start  */

.sponsor-logos{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    height: 3px;
    border: none;
    background: linear-gradient(to right, white, gray, white);
}

/* popular collection starts */
.popular-collection{
    margin-top: 130px;
}
.popular-collection .btn{
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin-top: 50px;
    width: 160px;
    padding: 10px 15px;
    color: #e02c6d;
    position: absolute;
    right: 120px;
}
.section-heading{
    font-size: 28px;
    text-align: center;
    margin-bottom: 47px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    grid-row-gap: 15px;
}

.item{
    color: #3a3a3a;
    padding: 10px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15); 
}
.item .item-title{
    margin: 6px 0;
    font-size: 28px;   
}
.item .price{
    font-size: 24px;
    margin-bottom: 8px;
}

/* featured products starts */

.featured-products{
    margin-top: 170px;
    display: flex;
    align-items: center;
    gap: 96px;
}
.featured-products h3{
    color: #0A0826;
    font-size: 38px;
    margin: 10px 0;
}
.featured-products p{
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 900;
}
.featured-products .btn{
    width: 160px;
    padding: 10px 15px;
    border: none;
    background-color: #e02c6d;
    color: #FFF;
}

/* footer section starts */

footer{
    width: 100%;
    height: 240px;
    margin-top: 40px;
    background-color: #0A0826;
    color: #FFF;
    text-align: center;
}
.footer-title{
    padding-top: 50px;
    margin-bottom: 15px;
    font-size: 24px;
}
footer p{
    font-size: 14px;
    color: grey;
}
footer .icon{
   margin-top: 15px;
}